<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.hhe.dt.unit.swuftUIInteractorBaseApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.hhe.dt.unit.InteractorsBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for a SwiftUI application that uses the interactor pattern.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>ContentView.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>includeNetworkHelpers</string>
			<key>Name</key>
			<string>Include Networking helpers</string>
			<key>Description</key>
			<string>Includes networking helpers in the project.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>SortOrder</key>
			<integer>103</integer>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>RequiredOptions</key>
					<dict>
						<key>userInterface</key>
						<string>SwiftUI</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Utilities/NetworkingHelpers.swift</string>
						<string>Utilities/Loadable.swift</string>
						<string>UI/Components/ErrorView.swift</string>
						<string>UI/Components/LoadableView.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Utilities/NetworkingHelpers.swift</key>
						<dict>
							<key>Path</key>
							<string>NetworkingHelpers.swift</string>
							<key>Group</key>
							<string>Utilities</string>
						</dict>
						<key>Utilities/Loadable.swift</key>
						<dict>
							<key>Path</key>
							<string>Loadable.swift</string>
							<key>Group</key>
							<string>Utilities</string>
						</dict>
						<key>UI/Components/ErrorView.swift</key>
						<dict>
							<key>Path</key>
							<string>ErrorView.swift</string>
							<key>Group</key>
							<array>
								<string>UI</string>
								<string>Components</string>
							</array>
						</dict>
						<key>UI/Components/LoadableView.swift</key>
						<dict>
							<key>Path</key>
							<string>LoadableView.swift</string>
							<key>Group</key>
							<array>
								<string>UI</string>
								<string>Components</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>includeActivityIndicator</string>
			<key>Name</key>
			<string>Include Activity Indicator View</string>
			<key>Description</key>
			<string>Includes an activity indicator view in the project.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>SortOrder</key>
			<integer>102</integer>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>RequiredOptions</key>
					<dict>
						<key>userInterface</key>
						<string>SwiftUI</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>UI/Components/ActivityIndicatorView.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>UI/Components/ActivityIndicatorView.swift</key>
						<dict>
							<key>Path</key>
							<string>ActivityIndicatorView.swift</string>
							<key>Group</key>
							<array>
								<string>UI</string>
								<string>Components</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Injected/AppState.swift</string>
							<string>Injected/DependencyInjector.swift</string>
							<string>Injected/InteractorsContainer.swift</string>
							<string>Application/SystemEventsHandler.swift</string>
							<string>Application/AppEnvironment.swift</string>
							<string>Application/AppDelegate.swift</string>
							<string>Application/SceneDelegate.swift</string>
							<string>Utilities/Store.swift</string>
							<string>Utilities/CancelBag.swift</string>
							<string>UI/ViewModifiers/RootViewAppearance.swift</string>
							<string>UI/Screens/ContentView.swift</string>
							<string>Resources/Preview Content/Preview Assets.xcassets</string>
							<string>Interactors/Interactor.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Application/AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>AppDelegate.swift</string>
								<key>Group</key>
								<string>Application</string>
							</dict>
							<key>Application/SceneDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>SceneDelegate.swift</string>
								<key>Group</key>
								<string>Application</string>
							</dict>
							<key>Application/AppEnvironment.swift</key>
							<dict>
								<key>Path</key>
								<string>AppEnvironment.swift</string>
								<key>Group</key>
								<string>Application</string>
							</dict>
							<key>Application/SystemEventsHandler.swift</key>
							<dict>
								<key>Path</key>
								<string>SystemEventsHandler.swift</string>
								<key>Group</key>
								<string>Application</string>
							</dict>
							<key>Injected/AppState.swift</key>
							<dict>
								<key>Path</key>
								<string>AppState.swift</string>
								<key>Group</key>
								<array>
									<string>Injected</string>
								</array>
							</dict>
							<key>Injected/DependencyInjector.swift</key>
							<dict>
								<key>Path</key>
								<string>DependencyInjector.swift</string>
								<key>Group</key>
								<array>
									<string>Injected</string>
								</array>
							</dict>
							<key>Injected/InteractorsContainer.swift</key>
							<dict>
								<key>Path</key>
								<string>InteractorsContainer.swift</string>
								<key>Group</key>
								<string>Injected</string>
							</dict>
							<key>Interactors/Interactor.swift</key>
							<dict>
								<key>Path</key>
								<string>Interactor.swift</string>
								<key>Group</key>
								<string>Interactors</string>
							</dict>
							<key>UI/ViewModifiers/RootViewAppearance.swift</key>
							<dict>
								<key>Path</key>
								<string>RootViewAppearance.swift</string>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>ViewModifiers</string>
								</array>
							</dict>
							<key>UI/Screens/ContentView.swift</key>
							<dict>
								<key>Path</key>
								<string>ContentView.swift</string>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>Screens</string>
								</array>
							</dict>
							<key>Utilities/Store.swift</key>
							<dict>
								<key>Path</key>
								<string>Store.swift</string>
								<key>Group</key>
								<string>Utilities</string>
							</dict>
							<key>Utilities/CancelBag.swift</key>
							<dict>
								<key>Path</key>
								<string>CancelBag.swift</string>
								<key>Group</key>
								<string>Utilities</string>
							</dict>
							<key>Resources/Preview Content/Preview Assets.xcassets</key>
							<dict>
								<key>Path</key>
								<string>Preview Assets.xcassets</string>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>Preview Content</string>
								</array>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAME:quoteIfNeeded___/Resources/&quot;Preview Content&quot;</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>User Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>SwiftUI</string>
			</array>
			<key>RequiredOptionsForValues</key>
			<dict>
				<key>SwiftUI</key>
				<dict>
					<key>languageChoice</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
</dict>
</plist>
